<div class="items">
<h2 class="done" aria-hidden="true">Activities that describe me</h2>

    <input id="item1" type="checkbox" ng-model="checkboxModelPage10.value1">
    <label for="item1">Work with computers/computer programs</label>

    <input id="item2" type="checkbox" ng-model="checkboxModelPage10.value2">
    <label for="item2">Solve complex problems with clear logic</label>

    <input id="item3" type="checkbox" ng-model="checkboxModelPage10.value3">
    <label for="item3">Comfortable with technical diagrams</label>

    <input id="item4" type="checkbox" ng-model="checkboxModelPage10.value4">
    <label for="item4">Adapt to change</label>

    <input id="item5" type="checkbox" ng-model="checkboxModelPage10.value5">
    <label for="item5">Focus easily without getting distracted</label>

    <input id="item6" type="checkbox" ng-model="checkboxModelPage10.value6">
    <label for="item6">Enjoy investigating how things work</label>

    <input id="item7" type="checkbox" ng-model="checkboxModelPage10.value7">
    <label for="item7">Troubleshoot computer problems</label>

<h2 class="undone" aria-hidden="true">Qualities that describe me</h2>

    <input id="item8" type="checkbox" ng-model="checkboxModelPage10.value8">
    <label for="item8">Logical/Analytical thinker</label>

    <input id="item9" type="checkbox" ng-model="checkboxModelPage10.value9">
    <label for="item9">Fast learner</label>

    <input id="item10" type="checkbox" ng-model="checkboxModelPage10.value10">
    <label for="item10">Like new technology</label>

    <input id="item11" type="checkbox" ng-model="checkboxModelPage10.value11">
    <label for="item11">Good concentration skills</label>

    <input id="item12" type="checkbox" ng-model="checkboxModelPage10.value12">
    <label for="item12">Creative problem solver</label>

 <h2 class="undone" aria-hidden="true">Topics enjoyed in school</h2>

    <input id="item13" type="checkbox" ng-model="checkboxModelPage10.value13">
    <label for="item13">Math</label>

    <input id="item14" type="checkbox" ng-model="checkboxModelPage10.value14">
    <label for="item14">Web Design</label>

    <input id="item15" type="checkbox" ng-model="checkboxModelPage10.value15">
    <label for="item15">Computer Technology</label>

    <input id="item16" type="checkbox" ng-model="checkboxModelPage10.value16">
    <label for="item16">Hardware/Networking</label>

    <input id="item17" type="checkbox" ng-model="checkboxModelPage10.value17">
    <label for="item17">Programming</label>
</div>

<a ui-sref="page11" class="button">Next</a>
