<div class="items">
<h2 class="done" aria-hidden="true">Activities that describe me</h2>

    <input id="item1" type="checkbox" ng-model="checkboxModelPage8.value1">
    <label for="item1">Preform creative, artistic activities</label>

    <input id="item2" type="checkbox" ng-model="checkboxModelPage8.value2">
    <label for="item2">Develop concepts/ideas</label>

    <input id="item3" type="checkbox" ng-model="checkboxModelPage8.value3">
    <label for="item3">Design brochures and posters</label>

    <input id="item4" type="checkbox" ng-model="checkboxModelPage8.value4">
    <label for="item4">Enjoy creating digital images</label>

    <input id="item5" type="checkbox" ng-model="checkboxModelPage8.value5">
    <label for="item5">Express ideas through media</label>

    <input id="item6" type="checkbox" ng-model="checkboxModelPage8.value6">
    <label for="item6">Enjoy being different</label>

    <input id="item7" type="checkbox" ng-model="checkboxModelPage8.value7">
    <label for="item7">Have a flexible schedule</label>

<h2 class="undone" aria-hidden="true">Qualities that describe me</h2>

    <input id="item8" type="checkbox" ng-model="checkboxModelPage8.value8">
    <label for="item8">Creative/Imaginative</label>

    <input id="item9" type="checkbox" ng-model="checkboxModelPage8.value9">
    <label for="item9">Self-motivated</label>

    <input id="item10" type="checkbox" ng-model="checkboxModelPage8.value10">
    <label for="item10">Persistent</label>

    <input id="item11" type="checkbox" ng-model="checkboxModelPage8.value11">
    <label for="item11">Curious</label>

    <input id="item12" type="checkbox" ng-model="checkboxModelPage8.value12">
    <label for="item12">Visualize possibilities</label>

 <h2 class="undone" aria-hidden="true">Topics enjoyed in school</h2>

    <input id="item13" type="checkbox" ng-model="checkboxModelPage8.value13">
    <label for="item13">Art and Design</label>

    <input id="item14" type="checkbox" ng-model="checkboxModelPage8.value14">
    <label for="item14">Graphic Design</label>

    <input id="item15" type="checkbox" ng-model="checkboxModelPage8.value15">
    <label for="item15">Website Design</label>

    <input id="item16" type="checkbox" ng-model="checkboxModelPage8.value16">
    <label for="item16">Advertising</label>

    <input id="item17" type="checkbox" ng-model="checkboxModelPage8.value17">
    <label for="item17">Photoshop</label>
</div>

<a ui-sref="page9" class="button">Next</a>
